*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body{
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    background: linear-gradient(180deg,#db4444 0%,#3f24dd 98%)
}

h2{
    margin-bottom: 1rem;
}